.body {
  overflow: hidden;
}

*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.wrapper {
  width: 80vw;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
}
.carousel-container {
  margin: 5px auto;
  height: 100%;
  padding-top: 50%;
  border: none;
  overflow: hidden;
  position: relative;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  background-color: green;
  padding: 0;
  white-space: nowrap;
  z-index: 1;
}

.carousel li {
  list-style-type: none;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.carousel li img {
  height: 100%;
  width: 100%;
}

.thumbnails {
  position: relative;
  margin: auto;
  text-align: center;
  padding: 0;}

.thumbnails li {
  display: inline-block;
  list-style-type: none;
  max-width: 100px;
  padding: 0;
  border: none;
  margin: 5px;
  transition: 0.25s;
  box-sizing: border-box;

}

.thumbnails li img {
  height: 100%;
  width: 100%;
  vertical-align: text-bottom;
}

.thumbnails li.active, .thumbnails li:hover {
  border: 5px orange solid;
}

.arrow {
  z-index: 10;
  position: absolute;
  padding: 0 5px;
  top: 0;
  height: 100%;
  cursor: pointer;
}

.arrow i:hover {
  color: #fff;
}

.arrow i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  opacity: 0.7;
}

.right-arrow {
  right: 0;
}

div.ui-loader {
  display: none;
}
